/*-----------------------------Default CSS-----------------*/

html, body {
	height: 100%;
	font-family: "Cabin", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Lora", serif;
}
h1 {font-size: 70px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}
p {
	font-size: 16px;
	font-family: "Cabin", sans-serif;
	color: #6b6b6b;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}
.gray{
	color: #aaaab3;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}
ul, ol {
	padding: 0;
	margin: 0;
}

/*Helper CSS*/

.section-title {
	text-align: center;
	margin-bottom: 22px;
}
.section-title span {
	font-size: 14px;
	color: #dfa974;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section-title h2 {
	font-size: 44px;
	color: #19191a;
	line-height: 58px;
	margin-top: 10px;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

/* buttons */
.primary-btn {
	display: inline-block;
	font-size: 13px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	position: relative;
}
.primary-btn:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: #dfa974;
	content: "";
}
/* Flaticon */
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Flaticon.woff") format("woff"),
		 url("../fonts/Flaticon.ttf") format("truetype"),
		 url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 50px;
	font-style: normal;
	margin-left: 0;
  }

.flaticon-parking:before { content: "\f123"; }
.flaticon-dinner:before { content: "\f120"; }
.flaticon-bed:before { content: "\f119"; }
.flaticon-towel:before { content: "\f117"; }
.flaticon-clock:before { content: "\f12b"; }
.flaticon-cocktail:before { content: "\f10b"; }

/* ElegantIcons */
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon_star-half_alt, .icon_star, .arrow_right, .arrow_left, .icon_menu, .icon_close{
	font-family: 'ElegantIcons';
	font-style: normal;
	line-height: 1;
}
.icon_menu:before {content: "\61";}
.icon_close:before {content: "\4d";}
.icon_star-half_alt:before {content: "\e032";}
.icon_star:before {content: "\e033";}
.arrow_left:before {content: "\23";}
.arrow_right:before {content: "\24";}


/*----------------------Header------------------------------*/
.header-section .menu-item {
	box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}
.menu-item {
	position: relative;
	z-index: 9;
}
.menu-item .logo {
	padding: 25px 0;
}
.menu-item .logo a {
	display: inline-block;
}
.menu-item .nav-menu {
	text-align: right;
}
.menu-item .nav-menu .main_menu {
	display: inline-block;
}
.menu-item .nav-menu .main_menu li {
	list-style: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.menu-item .nav-menu .main_menu li.active a:after {
	opacity: 1;
}
.menu-item .nav-menu .main_menu li:hover>a:after {
	opacity: 1;
}
.menu-item .nav-menu .main_menu li:hover .dropdown {
	top: 77px;
	opacity: 1;
	visibility: visible;
}
.menu-item .nav-menu .main_menu li a {
	font-size: 16px;
	color: #19191a;
	margin-right: 42px;
	font-weight: 500;
	display: inline-block;
	padding: 27px 0;
	position: relative;
	transition: all 0.3s;
}
.menu-item .nav-menu .main_menu li a:after {
	position: absolute;
	left: 0;
	top: 52px;
	width: 100%;
	height: 2px;
	background: #dfa974;
	content: "";
	opacity: 0;
	transition: all 0.3s;
}
.menu-item .nav-menu .main_menu li .dropdown {
	position: absolute;
	left: 0;
	top: 97px;
	width: 180px;
	background: #ffffff;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}
.menu-item .nav-menu .main_menu li .dropdown li {
	list-style: none;
	display: block;
}
.menu-item .nav-menu .main_menu li .dropdown li a {
	font-size: 16px;
	color: #19191a;
	display: block;
	text-align: left;
	padding: 8px 15px;
	transition: all 0.3s;
}
.menu-item .nav-menu .main_menu li .dropdown li a:hover {
	color: #dfa974;
}
.menu-item .nav-menu .main_menu li .dropdown li a:after {
	display: none;
}
.menu-item .nav-menu .nav-right {
	display: inline-block;
	margin-left: 43px;
	padding: 27px 0px;
}
.menu-item .nav-menu .nav-right i {
	font-size: 16px;
	color: #19191a;
	cursor: pointer;
}
.canvas-open {
	display: none;
}
.offcanvas-menu-wrapper {
	display: none;
}

/*-------------Hero Section---------------*/
.hero-section {
	position: relative;
	padding-top: 60px;
	padding-bottom: 100px;
}
.hero-section .container {
	position: relative;
	z-index: 5;
}
.hero-text {
	padding-top: 145px;
}
.hero-text h1 {
	font-size: 80px;
	line-height: 90px;
	color: #ffffff;
	margin-bottom: 16px;
}
.hero-text p {
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 35px;
}
.booking-form {
	background: #ffffff;
	padding: 44px 40px 50px 40px;
	border-radius: 4px;
}
.booking-form h3 {
	color: #19191a;
	margin-bottom: 36px;
}
.booking-form form .check-date, .select-option {
	margin-bottom: 15px;
}
.booking-form form label {
	font-size: 14px;
	color: #707079;
	display: block;
	margin-bottom: 10px;
}
.booking-form form input, select {
	width: 100%;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	color: #19191a;
	font-weight: 500;
	padding: 0px 20px 0px 20px;
}
.booking-form form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #dfa974;
	border-radius: 2px;
	color: #dfa974;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 30px;
}

.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.hero-slider.owl-carousel .owl-dots {
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	text-align: center;
}
.hero-slider.owl-carousel .owl-dots button {
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: 0.5;
	border-radius: 50%;
	margin-right: 10px;
	transition: all 0.3s;
}
.hero-slider.owl-carousel .owl-dots button.active {
	width: 30px;
	border-radius: 50px;
	opacity: 1;
}
.hero-slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}
.hero-slider .owl-stage-outer, .hero-slider .owl-stage, .hero-slider .owl-item, .hero-slider .hs-item {
	height: 100%;
}
/*----------------About US--------------------*/

.about-text {
	text-align: center;
	padding: 0 35px;
}
.about-text p {
	color: #595960;
	font-weight: 500;
}
.about-text p.f-para {
	margin-bottom: 10px;
}
.about-text p.s-para {
	margin-bottom: 35px;
}
.about-text .about-btn {
	color: #19191a;
}
.about-pic img {
	min-width: 100%;
}
/*-------------------Service Section---------------*/

.services-section {
	padding-bottom: 60px;
	border-top: 1px solid #e5e5e5;
}
.services-section .section-title {
	margin-bottom: 36px;
}
.service-item {
	text-align: center;
	padding: 30px 35px 18px;
	transition: all 0.3s;
}
.service-item:hover {
	background: #dfa974;
}
.service-item:hover i {
	color: #ffffff;
}
.service-item:hover h4 {
	color: #ffffff;
}
.service-item:hover p {
	color: #ffffff;
}
.service-item i {
	display: inline-block;
	color: #dfa974;
	transition: all 0.3s;
}
.service-item h4 {
	color: #19191a;
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	transition: all 0.3s;
}
.service-item p {
	color: #707079;
	transition: all 0.3s;
}

/*--------------Home Page Room Section --------------*/
.hp-room-items {
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}
.hp-room-item {
	height: 600px;
	margin-right: -15px;
	position: relative;
	overflow: hidden;
}
.hp-room-item:hover .hr-text {
	bottom: 135px;
}
.hp-room-item:hover .hr-text h2 {
	margin-bottom: 30px;
}
.hp-room-item .hr-text {
	position: absolute;
	left: 45px;
	right: 25px;
	bottom: -250px;
	transition: all 0.5s;
}
.hp-room-item .hr-text h3 {
	color: #ffffff;
	margin-bottom: 15px;
}
.hp-room-items .hp-room-item .hr-text h2 {
	color: #dfa974;
	font-weight: 700;
	margin-bottom: 50px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.hr-text h2 span {
	font-family: "Cabin", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}
.hr-text table {
	margin-bottom: 30px;
}
.hr-text table tbody tr td {
	font-size: 16px;
	color: #ffffff;
	line-height: 36px;
}
.hr-text table tbody tr td.r-o {
	width: 120px;
}
.hr-text .primary-btn:after {
	background: #ffffff;
}

/*---------------Testimonial Slider--------------*/
.testimonial-section {
	background: #f9f9f9;
}
.testimonial-section .section-title {
	margin-bottom: 30px;
}
.testimonial-slider.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
}
.testimonial-slider.owl-carousel .owl-nav button {
	height: 44px;
	width: 44px;
	border: 1px solid #ebebeb;
	font-size: 24px;
	color: #707079;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	left: -190px;
	top: 50%;
	transform: translateY(-6px);
	transition: all 0.3s;
}
.testimonial-slider.owl-carousel .owl-nav button:hover {
	border-color: #19191a;
	color: #19191a;
}
.testimonial-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -190px;
}
.testimonial-slider .ts-item {
	text-align: center;
}
.testimonial-slider .ts-item p {
	font-size: 20px;
	color: #707079;
	line-height: 30px;
	margin-bottom: 50px;
}
.testimonial-slider .ts-item .ti-author {
	margin-bottom: 60px;
}
.testimonial-slider .ts-item .ti-author .rating {
	display: inline-block;
}
.testimonial-slider .ts-item .ti-author .rating i {
	color: #f5b917;
	font-size: 16px;
}
.testimonial-slider .ts-item .ti-author h5 {
	font-size: 20px;
	color: #19191a;
	display: inline-block;
}
/*-------------Blog and Event------------*/

.blog-section {
	padding-bottom: 70px;
}
.blog-section .section-title {
	margin-bottom: 36px;
}

.blog-item {
	height: 450px;
	position: relative;
	margin-bottom: 30px;
	border-radius: 5px;
}
.blog-item.small-size {
	height: 400px;
}
.blog-item .bi-text {
	position: absolute;
	left: 0;
	bottom: 25px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}
.blog-item .bi-text .b-tag {
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #dfa974;
	padding: 3px 10px;
	border-radius: 2px;
}
.blog-item .bi-text h4 {
	margin-top: 18px;
	margin-bottom: 18px;
}
.blog-item .bi-text h4 a {
	color: #ffffff;
}
.blog-item .bi-text .b-time {
	font-size: 12px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/*---------------------Footer Section----------------*/

.footer-section {
	background: #222736;
}
.footer-section .footer-text {
	padding: 80px 0 30px;
}
.footer-section .ft-about {
	margin-bottom: 30px;
}
.footer-section .ft-about .logo {
	margin-bottom: 20px;
}
.footer-section .ft-about .logo a {
	display: inline-block;
}
.footer-section .ft-about p {
	margin-bottom: 20px;
}
.footer-section .ft-about .fa-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #5A4D48;
	border-radius: 50%;
	transition: all 0.3s;
	margin-right: 7px;
}
.fa-social a:hover {
	background: #dfa974;
	border-color: #dfa974;
}
.footer-section .ft-contact {
	margin-bottom: 30px;
}
.footer-section .ft-contact h6 {
	font-size: 14px;
	color: #dfa974;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.footer-section .ft-contact ul li {
	font-size: 16px;
	line-height: 32px;
	list-style: none;
}
.footer-section .ft-newslatter h6 {
	font-size: 14px;
	color: #dfa974;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Cabin", sans-serif;
	margin-bottom: 20px;
}
.ft-newslatter p {
	margin-bottom: 20px;
}
.fn-form {
	position: relative;
}
.fn-form input {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background: #393D4A;
	border: none;
	padding-left: 20px;
	font-size: 16px;
	color: #707079;
}
.fn-form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #dfa974;
	color: #ffffff;
	padding: 0 16px;
	height: 50px;
	border: none;
	border-radius: 0 2px 2px 0;
}
.footer-section .copyright-option {
	background: rgba(16, 20, 31, 0.2);
	padding: 20px 0;
}
.copyright-option ul li {
	list-style: none;
	display: inline-block;
	margin-right: 34px;
}
.copyright-option ul li:last-child {
	margin-right: 0;
}
.copyright-option ul li a {
	font-size: 16px;
}
.copyright-option .co-text {
	font-size: 16px;
	color: #707079;
	text-align: right;
}


/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1554px) and (max-width: 1920px) {
	.hp-room-items .hp-room-item .hr-text {
		bottom: -200px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
	.hp-room-items .hp-room-item .hr-text {
		bottom: -288px;
	}
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -150px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -150px;
	}
	.hp-room-items .hp-room-item .hr-text {
		bottom: -322px;
	}
	.hp-room-items .hp-room-item:hover .hr-text {
		bottom: 80px;
	}
}
@media only screen and (max-width: 991px) {
	.menu-item .nav-menu {
		display: none;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 98;
		height: 100%;
		width: 100%;
		visibility: hidden;
		transition: 0.3s;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.canvas-open {
		position: absolute;
		right: 40px;
		top: 25px;
		font-size: 22px;
		width: 30px;
		height: 30px;
		color: #19191a;
		border: 1px solid #19191a;
		border-radius: 2px;
		line-height: 33px;
		text-align: center;
		z-index: 100;
		display: block;
		cursor: pointer;
	}
	.canvas-close {
		height: 30px;
		width: 30px;
		border: 1px solid #19191a;
		border-radius: 50%;
		text-align: center;
		line-height: 33px;
		cursor: pointer;
		position: absolute;
		right: 30px;
		top: 30px;
		padding-right: 1px;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		top: 0;
		width: 300px;
		z-index: 999;
		background: #ffffff;
		overflow-y: auto;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		padding: 80px 30px 30px 30px;
		display: block;
	}
	.offcanvas-menu-wrapper ul li{
		list-style-type: none;
	}
	.offcanvas-menu-wrapper a{
		font-weight: 600;
		font-size: 14px;
		color: rgb(25, 25, 26);
		margin: 0px;
		padding: 10px;	
		transition: all 0.3s ease 0s;
		border-bottom: 1px solid rgb(229, 229, 229);
		display: block;
	}
	.offcanvas-menu-wrapper a:hover{
         color: #dfa974;
	}
	.offcanvas-menu-wrapper .dropdown{
		display: none;
		padding-left: 20px;
	}
	.offcanvas-menu-wrapper li:hover > .dropdown{
		display: block;
	}
	.offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.footer-section .copyright-option ul {
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-section .copyright-option .co-text {
		text-align: center;
	}
	.about-pic img {
		margin-bottom: 20px;
	}
	.hero-text {
		margin-bottom: 40px;
	}
}
/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.testimonial-slider.owl-carousel .owl-nav button {
		left: -30px;
	}
	.testimonial-slider.owl-carousel .owl-nav button.owl-next {
		right: -30px;
	}
	.hp-room-items {
		margin: 0;
	}
	.hp-room-item {
		margin-bottom: 15px;
	}
}
/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
	.testimonial-slider.owl-carousel .owl-nav {
		display: none;
	}
	.footer-section .copyright-option ul li {
		margin-right: 25px;
	}
	.about-text .section-title h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.hp-room-items {
		margin: 0 -5px;
	}
	.hp-room-item {
		margin-bottom: 10px;
	}
}



